[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[dev-packages]
flake8 = "*"
pytest = "*"
tox = "*"
Sphinx = "*"
setuptools = "*"


[packages]

requests = ">=2.21.0"
nypi = {path = ".", editable = true}
