[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[dev-packages]
flake8 = "*"
pytest = "*"
tox = "*"
Sphinx = "*"


[packages]

requests = "*"


[requires]
python_version = "3.5"
