[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
Sphinx = "==5.0.2"
black = "==19.3b0"
flake8 = "==3.7.7"
pytest = "==4.4.1"
setuptools = "==41.0.1"
tox = "==3.9.0"
twine = "==1.13.0"

[packages]
requests = "==2.21.0"
nypi = {editable = true,path = "."}
